Repository Ericc-Hao/gin-rummy-twist, pull requests merged in 2024-11, with the labels that each got.

#29 chore(frontend): Add GitHub Actions Workflow for Automated Deployment and PR Comments
  .github/workflows/deploy-frontend.yml
  src/frontend/.eslintrc.json
  src/frontend/Dockerfile
  src/frontend/app/(pages)/home/page.tsx
  src/frontend/lib/my-components/header-bar.tsx
Labels: enhancement, front end

#31 fix(frontend): add sharp package to solve image load issue
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: bug, front end

#45 feat(backend): initialized database
  src/backend/compose.yaml
  src/backend/pom.xml
  src/backend/src/main/java/backend/springboot/MVC/controller/GameController.java
  src/backend/src/main/java/backend/springboot/MVC/mapper/GameMapper.java
  src/backend/src/main/java/backend/springboot/MVC/pojo/Card.java
  src/backend/src/main/java/backend/springboot/MVC/service/GameServiceImpl.java
  src/backend/src/main/resources/application.properties
  src/backend/src/main/resources/db.migration/V1__Create_Table.sql
Labels: enhancement, back end
